<!-- <p>reactive-signup works!</p> -->

<form [formGroup]="myForm" (ngSubmit)="saveUser()">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8">
      First Name :
      <input type="text" formControlName="firstName" />
      <span class="error" *ngIf="!myForm.get('firstName')?.valid && myForm.get('firstName')?.touched">Please Enter Firstname</span>
      <br /><br />
      Email:
      <input type="email" formControlName="email" />
      <br /><br />
      Password:
      <input type="password" formControlName="password" />
      <br /><br />

      <input type="submit" [disabled]="!myForm.valid" value="Signup" />
    </div>

    <!-- <div class="col-md-4"></div> -->
  </div>
</form>
